@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
  color: #000;
}
p + p,
p + h2,
p + h3,
a + a,
img + h2,
img + h3,
img + p,
p + img,
img + img
 {
  margin-top: 16px;
}
ul {
  list-style-position: inside;
}
a {
  text-decoration: none;
  color: #333;
 }
 a:hover {
  opacity: 0.6;
 }
 img {
  max-width: 100%;
 }

 /* HEADER */
 .logo {
  width: 350px;
  margin-top: 14px;
 }
 @media (max-width: 800px) {
   header h1 {
    text-align: center;
  }
  .logo {
    width: 250px;
    margin-top: 8px;
  }
 }
 .page-header {
  display: flex;
  justify-content: space-between;
 }
 @media (max-width: 800px) {
  .page-header {
    flex-direction: column;
  }
 }
 .wrapper {
  max-width: 1300px;
  margin:  0 auto;
  padding: 0 4%;
 }
 .haeder-btn,
 a.header-btn {
  font-family:Arial, Helvetica, sans-serif;
  height: 80px;
  margin-top: 48px;
  padding: 8px 32px;
  background: tomato;
  color: white;
  font-size: 3em;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  cursor:pointer;
  transition: background .3s;
 }
 @media (max-width: 800px) {
  .haeder-btn,
  a.header-btn {
    margin-top: 16px;
    text-align: center;
    font-size: 2rem;
    height: 50px;
    margin-top: 8px;
  }
 }

/* ハンバーガーメニュー部分 */
.sp-menu {
  margin: 16px 0;
  margin-right: 8px;
  text-align: right;
}
.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  padding: 0 16px;
  border: solid silver 0.5px;
  border-radius: 5px;
  cursor: pointer;
}
.sp-menu #open.hide {
  display: none;
}
.overlay {
  /* 固定表示 */
  position: fixed;
  /* 全画面表示 */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* 白色透明の画面 */
  background: rgba(254, 180, 83, 0.95);
  text-align: center;
  padding: 64px;
  /* 透明にする */
  opacity: 0;
  /* 選択できないようにする */
  pointer-events: none;
  transition:  opacity .6s;
}
.overlay.show {
  opacity: 1;
  pointer-events: auto;
}
.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}
.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}
.overlay.show li {
  opacity: 1;
  transform: none;
}
.overlay a {
  padding: 0 24px;
  line-height: 64px;
  text-align: center;
  font-size: 1.5rem;
}
.overlay a:hover {
  opacity: 0.6;
}

/* PC版メニュー */
.pc-menu {
  display: none;
}
@media (min-width: 800px) {
  .pc-menu {
    display: block;
    font-size: 2rem;
    margin: 16px 0;
    list-style: none;
  }
  .pc-menu nav {
    background: orange;
  }
  .pc-menu ul {
    list-style-type: none;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    display: flex;
  }
  .pc-menu li {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid 0.5px tomato;
  }
  .pc-menu a {
    display: block;
    padding: 0 24px;
    line-height: 64px;
    color: white;
  }
  .pc-menu a:hover {
    opacity: 0.6;
  }
  .sp-menu {
    display: none;
  }
}


/* MAIN */
.main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 800px) {
  .main-content {
    flex-direction: column;
  }
 }

/* 記事部分 */
article {
  width: 74%;
  margin-top: 16px;
  /* background-color: pink; */
}
@media (max-width: 800px) {
  article {
    width: 100%;
  }
}
.main-img {
  text-align: center;
}
.main-img img {
  width: 70%;
  text-align: center;
}
@media (max-width: 800px) {
  .main-img img {
    width: 100%;
  }
}
.h2-title {
  font-size: 1.375rem;
  padding: 8px 8px;
  border-bottom: 2px orange solid;
  border-top: 2px orange solid;
  margin-bottom: 16px;
  background: rgba(253,149,50,0.3);
  color: rgba(242,120,75);
}
.h3-title {
  font-size: 1.375rem;
  padding: 8px 8px;
  margin: 16px 0;
  background: orange;
  color: #333;
  border-radius: 10px;
}
.top-title {
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 800px) {
  .top-title {
    font-size: 2rem;
  }
}
.content-box {
  display: flex;
  align-items: center;
  margin: 16px 4%;
  border: solid silver 1.5px;
  border-radius: 10px;
  /* background: gray; */
}
@media (max-width: 800px) {
  .content-box  {
    flex-direction: column;
  }
}
.box-artpic {
  border-radius: 10%;
  margin: 16px 16px;
  width: 200px;
  height: 200px;
}
@media (max-width: 800px) {
  .box-artpic {
    margin: 16px auto;
    width: 60%;
    height: 60%;
  }
}
.box-caption h3 {
  margin: 0 auto;
  font-size: 2rem;
}
@media (max-width: 800px) {
  .box-caption h3 {
    font-size: 1.4rem;
  }
}
.box-caption p {
  margin: 8px 0;
  font-size: 1.2rem;
}
@media (max-width: 800px) {
  .box-caption  {
    margin: 8px 8px;
  }
  /* .box-caption p {
    font-size: 1rem;
  } */
}
.list {
  padding-left: 16px;
  margin-bottom: 16px;
}
.content-link {
  text-decoration: underline;
  color: #0099ff;
}

/* 文字の装飾 */
main span {
  /* color: #ff0000; */
  font-weight: bold;
  background: linear-gradient(transparent 60%, #ff6 60%);
}

/* ボタン */
.btn {
  padding: 31px 20%;
  background: orange;
  color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  cursor:pointer;
  transition: background .3s;
}
@media (max-width: 800px) {
  .btn {
    padding: 16px 4%;
  }
}
.offer-btn {
  font-family:Arial, Helvetica, sans-serif;
  height: 100px;
  margin-top: 48px;
  padding: 8px 32px;
  background: tomato;
  color: white;
  font-size: 3em;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  cursor:pointer;
  transition: background .3s;
}
@media (max-width: 800px) {
  .offer-btn {
    font-size: 2rem;
  }
}
.call-btn {
  font-family:Arial, Helvetica, sans-serif;
  height: 100px;
  margin-top: 48px;
  padding: 8px 32px;
  background: tomato;
  color: white;
  font-size: 1.5em;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,1);
  cursor:pointer;
  transition: background .3s;
}
@media (max-width: 800px) {
  .call-btn {
    font-size: 1.2rem;
  }
}

.material-icons {
  font-weight: normal;
  background: none;
}
.btn-set {
  text-align: center;
}


/* サイドバー部分 */
aside {
  width: 22%;
  /* background: skyblue; */
  margin-top: 32px;
}
@media (max-width: 800px) {
  aside {
    width: 100%;
  }
}


/* FOOTER */
footer {
  background: orange;
  margin-top: 32px;
}
.footer-nav {
  display: flex;
  list-style: none;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .footer-nav {
    flex-direction: column;
  }
}
 .footer-nav a {
  color: #000;
  line-height: 64px;
  text-align: center;
 }
 .footer-nav a:hover {
  opacity: 0.6;
 }
.footer-sign p {
  text-align: center;
}